pkgbase = tmodloader-bin
	pkgdesc = An open-source, community-driven, modification and expansion of the Terraria game that makes it possible to make and play mods.
	pkgver = 2024.07.3.0_1.4.4.9
	pkgrel = 1
	epoch = 0
	url = https://www.tmodloader.net/
	arch = x86_64
	license = MIT
	depends = unzip>=6.0
	noextract = tml-2024.07.3.0.zip
	source = tml-2024.07.3.0.zip::https://github.com/tModLoader/tModLoader/releases/download/v2024.07.3.0/tModLoader.zip
	sha256sums = dc5791a59f73e99a26ce8883c4e4877dfbd2069b0ada99fa32e58b5aea2b3ab7

pkgname = tmodloader-bin
